p.intro {
    width: 50%;
    font-style: italic;
}
p.author {
    width: 75%;
    font-style: italic;
    font-weight: bold;
  }
  .important {
    color: red;
  }
  
  .unimportant {
    color: blue;
  }
  .highlight {
      color: darkgreen ;
  }
  img {
    float: left;
  }
  .sidebar {
    width: 30%;
    float: right;
    background-color: yellow;
  }